
.cache
.data
dist
.DS_Store
.env
.env.*
!.env.example
.env.production
.fleet
.idea
# Local env files
*.log
logs
# Logs
# Misc
.nitro
# Node dependencies
node_modules
.nuxt
# Nuxt dev/build outputs
.output
.vercel
# Vercel
